openapi: 3.0.3
info:
  title: API.Rasp.Yandex.Net
  description: API Яндекс.Расписаний
  version: 3.0.0
servers:
- url: https://api.rasp.yandex.net
tags:
- name: Запросы к API
  description: Список запросов в сервисе
paths:
  /v3.0/nearest_stations/:
    get:
      tags:
        - Запросы к API
      summary: Список ближайших станций
      operationId: getNearestStations
      parameters:
        - name: apikey
          in: query
          description: API key
          required: true
          schema:
            type: string
        - name: lat
          in: query
          description: Широта согласно WGS84
          required: true
          schema:
            type: number
        - name: lng
          in: query
          description: Долгота согласно WGS84
          required: true
          schema:
            type: number
        - name: distance
          in: query
          description: Радиус охвата в километрах
          required: true
          schema:
            type: integer
        - name: lang
          in: query
          description: Язык возвращаемой информации (например, ru_RU)
          required: false
          schema:
            type: string
        - name: format
          in: query
          description: Формат ответа (json или xml)
          required: false
          schema:
            type: string
        - name: station_types
          in: query
          description: Типы запрашиваемых станций (например, station, bus_station)
          required: false
          schema:
            type: string
        - name: transport_types
          in: query
          description: Тип транспортного средства (например, plane, train, bus)
          required: false
          schema:
            type: string
        - name: offset
          in: query
          description: Смещение относительно первого результата
          required: false
          schema:
            type: integer
        - name: limit
          in: query
          description: Ограничение на количество возвращаемых станций
          required: false
          schema:
            type: integer
      responses:
        '200':
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Stations'

  /v3.0/search/:
    get:
      tags:
        - Запросы к API
      summary: Расписание рейсов между станциями
      operationId: getScheduleBetweenStations
      parameters:
        - name: apikey
          in: query
          description: API key
          required: true
          schema:
            type: string
        - name: from
          in: query
          description: Код станции отправления
          required: true
          schema:
            type: string
        - name: to
          in: query
          description: Код станции прибытия
          required: true
          schema:
            type: string
        - name: format
          in: query
          description: Формат ответа, по умолчанию JSON
          required: false
          schema:
            type: string
        - name: lang
          in: query
          description: Язык ответа (например, ru_RU)
          required: false
          schema:
            type: string
        - name: date
          in: query
          description: Дата в формате YYYY-MM-DD
          required: false
          schema:
            type: string
        - name: transport_types
          in: query
          description: Тип транспорта (plane, train, bus и т.д.)
          required: false
          schema:
            type: string
        - name: offset
          in: query
          description: Смещение результатов
          required: false
          schema:
            type: integer
        - name: limit
          in: query
          description: Лимит на количество результатов, по умолчанию 100
          required: false
          schema:
            type: integer
        - name: result_timezone
          in: query
          description: Часовой пояс для дат и времени в ответе
          required: false
          schema:
            type: string
        - name: transfers
          in: query
          description: Включить маршруты с пересадками (true/false)
          required: false
          schema:
            type: boolean
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Search'

  /v3.0/schedule/:
    get:
      tags:
        - Запросы к API
      summary: Список рейсов по станции
      operationId: getScheduleOnStation
      parameters:
        - name: apikey
          in: query
          description: API key
          required: true
          schema:
            type: string
        - name: station
          in: query
          description: Код станции
          required: true
          schema:
            type: string
        - name: lang
          in: query
          description: Язык возвращаемой информации (например, ru_RU)
          required: false
          schema:
            type: string
        - name: format
          in: query
          description: Формат ответа (json по умолчанию)
          required: false
          schema:
            type: string
        - name: date
          in: query
          description: Дата, на которую требуется расписание (формат YYYY-MM-DD)
          required: false
          schema:
            type: string
        - name: transport_types
          in: query
          description: Тип транспорта (plane, train, bus и т.д.)
          required: false
          schema:
            type: string
        - name: event
          in: query
          description: Событие для фильтрации (arrival/отправление)
          required: false
          schema:
            type: string
        - name: direction
          in: query
          description: Направление (например, на Москву)
          required: false
          schema:
            type: string
        - name: system
          in: query
          description: Система кодирования для параметра station
          required: false
          schema:
            type: string
        - name: result_timezone
          in: query
          description: Часовой пояс для отображения времени
          required: false
          schema:
            type: string
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schedule'

  /v3.0/thread/:
    get:
      tags:
        - Запросы к API
      summary: Список станций следования
      operationId: getThreadStations
      parameters:
        - name: apikey
          in: query
          description: API key
          required: true
          schema:
            type: string
        - name: uid
          in: query
          description: Идентификатор нитки
          required: true
          schema:
            type: string
        - name: from
          in: query
          description: Код станции отправления
          required: false
          schema:
            type: string
        - name: to
          in: query
          description: Код станции прибытия
          required: false
          schema:
            type: string
        - name: format
          in: query
          description: Формат ответа (json по умолчанию)
          required: false
          schema:
            type: string
        - name: lang
          in: query
          description: Язык возвращаемой информации (например, ru_RU)
          required: false
          schema:
            type: string
        - name: date
          in: query
          description: Дата, на которую необходимо получить список станций (формат YYYY-MM-DD)
          required: false
          schema:
            type: string
        - name: show_systems
          in: query
          description: Система кодирования для ответа (например, yandex, esr, all)
          required: false
          schema:
            type: string
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Thread'

  /v3.0/nearest_settlement/:
    get:
      tags:
        - Запросы к API
      summary: Ближайший город
      operationId: getNearestSettlement
      parameters:
        - name: apikey
          in: query
          description: API key
          required: true
          schema:
            type: string
        - name: lat
          in: query
          description: Широта согласно WGS84
          required: true
          schema:
            type: number
        - name: lng
          in: query
          description: Долгота согласно WGS84
          required: true
          schema:
            type: number
        - name: distance
          in: query
          description: Радиус поиска ближайшего города (в километрах)
          required: false
          schema:
            type: integer
        - name: lang
          in: query
          description: Язык возвращаемой информации (например, ru_RU)
          required: false
          schema:
            type: string
        - name: format
          in: query
          description: Формат ответа (json по умолчанию)
          required: false
          schema:
            type: string
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Settlement'

  /v3.0/carrier/:
    get:
      tags:
        - Запросы к API
      summary: Информация о перевозчике
      operationId: getCarrier
      parameters:
        - name: apikey
          in: query
          description: API key
          required: true
          schema:
            type: string
        - name: code
          in: query
          description: Код перевозчика
          required: true
          schema:
            type: string
        - name: system
          in: query
          description: Система кодирования (yandex, iata, sirena, express, esr)
          required: false
          schema:
            type: string
        - name: lang
          in: query
          description: Язык возвращаемой информации (например, ru_RU)
          required: false
          schema:
            type: string
        - name: format
          in: query
          description: Формат ответа (json по умолчанию)
          required: false
          schema:
            type: string
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Carrier'

  /v3.0/stations_list/:
    get:
      tags:
        - Запросы к API
      summary: Список всех доступных станций
      operationId: getStationsList
      parameters:
        - name: apikey
          in: query
          description: API key
          required: true
          schema:
            type: string
        - name: lang
          in: query
          description: Язык возвращаемой информации (например, ru_RU)
          required: false
          schema:
            type: string
        - name: format
          in: query
          description: Формат ответа (json по умолчанию)
          required: false
          schema:
            type: string
      responses:
        "200":
          description: Успешный ответ
          content:
            text/html; charset=utf-8:
              schema:
                $ref: '#/components/schemas/StationsList'

  /v3.0/copyright/:
    get:
      tags:
        - Запросы к API
      summary: Копирайт Яндекс Расписаний
      operationId: getCopyright
      parameters:
        - name: apikey
          in: query
          description: API key
          required: true
          schema:
            type: string
        - name: format
          in: query
          description: Формат ответа (json по умолчанию)
          required: false
          schema:
            type: string
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Copyright'

components:
  schemas:
    Stations:
      type: object
      properties:
        pagination:
          $ref: '#/components/schemas/Pagination'
        stations:
          type: array
          items:
            $ref: '#/components/schemas/Station'

    Pagination:
      type: object
      properties:
        total:
          type: integer
        limit:
          type: integer
        offset:
          type: integer

    Station:
      type: object
      properties:
        type:
          type: string
        title:
          type: string
        short_title:
          type: string
        popular_title:
          type: string
        code:
          type: string
        lat:
          type: number
        lng:
          type: number
        station_type:
          type: string
        station_type_name:
          type: string
        transport_type:
          type: string
        distance:
          type: number
        majority:
          type: integer
        type_choices:
          $ref: '#/components/schemas/ScheduleItem'

    Schedule:
      type: object
      properties:
        pagination:
          $ref: '#/components/schemas/Pagination'
        schedule:
          type: array
          items:
            $ref: '#/components/schemas/ScheduleItem'

    Settlement:
      type: object
      properties:
        distance:
          type: number
        code:
          type: string
        title:
          type: string
        popular_title:
          type: string
        short_title:
          type: string
        lat:
          type: number
        lng:
          type: number

    Carrier:
      type: object
      properties:
        code:
          type: string
        name:
          type: string
        transport_types:
          type: array
          items:
            type: string
        icon:
          type: string
        url:
          type: string

    Thread:
      type: object
      properties:
        pagination:
          $ref: '#/components/schemas/Pagination'
        stations:
          type: array
          items:
            $ref: '#/components/schemas/Station'

    Search:
      type: object
      properties:
        pagination:
          $ref: '#/components/schemas/Pagination'
        segments:
          type: array
          items:
            $ref: '#/components/schemas/SearchItem'

    ScheduleItem:
      type: object
      properties:
        uid:
          type: string
        date:
          type: string
          format: date-time
        arrival:
          type: string
          format: date-time
        departure:
          type: string
          format: date-time
        transport:
          $ref: '#/components/schemas/Transport'
        platform:
          type: string
        carriages:
          type: integer
        ticket:
          $ref: '#/components/schemas/Ticket'

    SearchItem:
      type: object
      properties:
        uid:
          type: string
        date:
          type: string
          format: date-time
        arrival:
          type: string
          format: date-time
        departure:
          type: string
          format: date-time
        transport:
          $ref: '#/components/schemas/Transport'
        platform:
          type: string
        carriages:
          type: integer
        ticket:
          $ref: '#/components/schemas/Ticket'

    Transport:
      type: object
      properties:
        type:
          type: string
        carrier:
          $ref: '#/components/schemas/Carrier'

    Ticket:
      type: object
      properties:
        web:
          type: boolean
        phone:
          type: boolean
        sms:
          type: boolean
        qr:
          type: boolean

    Copyright:
      type: object
      properties:
        text:
          type: string
        url:
          type: string

    StationsList:
      type: object
      properties:
        countries:
          type: array
          items:
            $ref: '#/components/schemas/Country'

    Country:
      type: object
      properties:
        regions:
          type: array
          items:
            $ref: '#/components/schemas/Region'
        codes:
          $ref: '#/components/schemas/Codes'
        title:
          type: string

    Region:
      type: object
      properties:
        settlements:
          type: array
          items:
            $ref: '#/components/schemas/Settlement'
        codes:
          $ref: '#/components/schemas/Codes'
        title:
          type: string

    Codes:
      type: object
      properties:
        yandex_code:
          type: string
        esr_code:
          type: string
